# DuckDB
TAP_DUCKDB_PATH=/path/to/your/duckdb/file

# Google BigQuery
TARGET_BIGQUERY_CREDENTIALS_PATH=/path/to/your/service-account.json

# Create your own .env file with these 2 variables inside with your own local path of the files.